In [1]:
import sqlite3 as sq

In [2]:
con = sq.connect('EMS1.db')

In [3]:
cur = con.cursor()

In [4]:
query='''create table if not exists employee 
        (eid int primary key,
         ename text,
         dept text,
         basic int,
         branch text)'''
cur.execute(query)
con.commit()

In [5]:
def insertemp(n):
    l=[]
    query=f"insert into Employee values(?,?,?,?,?)"
       
    for i in range(n):
        eid=int(input("Enter Employee id:"))
        ename=input("Enter Employee name ")
        dept=input("Enter Employee department:")
        basic=int(input("Enter Employee basic salary:"))
        branch=input("Enter Employee branch:")
        t=(eid,ename,dept,basic,branch)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

In [7]:
def updatesal():
    query=f"update Employee set basic=basic+basic*0.1 where branch='surat'"
    cur.execute(query)
    con.commit()

In [8]:
def displayrecord():
    query=f"select * from Employee"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

In [9]:
def deptrecord():
    query=f"select * from Employee where dept in ('hr','it','HR','IT')"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

In [10]:
def recordbasicgreaterthan():
    query=f"select * from Employee where basic>6000"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

In [11]:
def sortrecorddept():
    query=f"select * from Employee where ename like '_r%'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

In [12]:
def groupingrecord():
    query=f"select dept,count(*) as count  from Employee where dept in ('account','inventory')"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("\nEmployee department:{}\ncount :{}".format(i[0],i[1]))

In [14]:
def orderbydesc():
    query=f"select * from Employee order by branch desc"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Employee id:{}\nEmployee name:{}\nEmployee department:{}\nEmployee Basic:{}\nEmployee branch:{}".format(i[0],i[1],i[2],i[3],i[4]))

In [15]:
insertemp(5)

Enter Employee id:1
Enter Employee name om
Enter Employee department:hr
Enter Employee basic salary:10000
Enter Employee branch:surat
Enter Employee id:2
Enter Employee name sai
Enter Employee department:account
Enter Employee basic salary:12000
Enter Employee branch:bardoli
Enter Employee id:3
Enter Employee name ram
Enter Employee department:it
Enter Employee basic salary:5000
Enter Employee branch:mahuva
Enter Employee id:4
Enter Employee name parth
Enter Employee department:inventory
Enter Employee basic salary:20000
Enter Employee branch:ahawa
Enter Employee id:5
Enter Employee name dev
Enter Employee department:hr
Enter Employee basic salary:12000
Enter Employee branch:bardoli

In [16]:
updatesal()

In [17]:
displayrecord()

Employee id:1
Employee name:om
Employee department:hr
Employee Basic:11000
Employee branch:surat
Employee id:2
Employee name:sai
Employee department:account
Employee Basic:12000
Employee branch:bardoli
Employee id:3
Employee name:ram
Employee department:it
Employee Basic:5000
Employee branch:mahuva
Employee id:4
Employee name:parth
Employee department:inventory
Employee Basic:20000
Employee branch:ahawa
Employee id:5
Employee name:dev
Employee department:hr
Employee Basic:12000
Employee branch:bardoli

In [18]:
sortrecorddept()

In [19]:
recordbasicgreaterthan()

Employee id:1
Employee name:om
Employee department:hr
Employee Basic:11000
Employee branch:surat
Employee id:2
Employee name:sai
Employee department:account
Employee Basic:12000
Employee branch:bardoli
Employee id:4
Employee name:parth
Employee department:inventory
Employee Basic:20000
Employee branch:ahawa
Employee id:5
Employee name:dev
Employee department:hr
Employee Basic:12000
Employee branch:bardoli

In [20]:
sortrecorddept()

In [21]:
groupingrecord()

Employee department:account
count :2

In [22]:
orderbydesc()

Employee id:1
Employee name:om
Employee department:hr
Employee Basic:11000
Employee branch:surat
Employee id:3
Employee name:ram
Employee department:it
Employee Basic:5000
Employee branch:mahuva
Employee id:2
Employee name:sai
Employee department:account
Employee Basic:12000
Employee branch:bardoli
Employee id:5
Employee name:dev
Employee department:hr
Employee Basic:12000
Employee branch:bardoli
Employee id:4
Employee name:parth
Employee department:inventory
Employee Basic:20000
Employee branch:ahawa

In [23]:
con.commit()

In [24]:
con.close()